<%- include("header") -%>
<div class="container">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nisi hic earum saepe quam eum facere ab architecto nobis, quis atque, fuga quos officiis facilis eius id maiores reiciendis unde!</p>
</div>
<%- include("footer") -%>