<%- include("header") -%>

<div class="container">
    <h1>Create a Blog Post</h1>
    <form action="/create" method="post" class="mb-5">             
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="exampleInputTitle" name="postTitle">
        <div id="emailHelp" class="form-text">Create a unique title for your blog post</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputTextArea" class="form-label">Blog Post Content</label>
            <textarea rows="20" name="newPost" class="form-control" id="exampleInputTextArea"></textarea>
        </div>
        <button type="submit" name="submit" class="btn btn-primary btn-lg">Post</button>
    </form>
</div>

<%- include("footer") -%>