</body>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-center py-3 mb-4 border-top text-light" style="background: #702bf6;">
        Blog App 2023
    </footer>
</div>
</html>